{% extends "layout.html" %}

{% block content %}


<br><br>
<h1 class="display-4">Acerca de Nosotros</h1>
<br><br>
    <div class="jumbotron">
        <h1 class="display-3">Variedades Magicolor, F.P</h1>
        <p class="lead">Ubicada en Maracay- Aragua, calle Los Jabillos sector 6, al lado de La Panaderia Miss Aragua</p>
        <!--lo de abajo es la linea de separación-->
        <hr class="my-4">
        <p class="lead">Para mas Contacto:</p>
        <p>Tlf: 0414-4932514</p>
        <p>Email: Ramonkoudsi@Gmail.com</p>
      </div>
      <div class="jumbotron">
          <h1 class="display-3">Variedades Magicolor, F.P</h1>
          <p class="lead">Ubicada en Maracay- Aragua, calle Los Jabillos sector 6, al lado de La Panaderia Miss Aragua</p>
          <!--lo de abajo es la linea de separación-->
          <hr class="my-4">
          <p class="lead">Para mas Contacto:</p>
          <p>Tlf: 0414-4932514</p>
          <p>Email: Ramonkoudsi@Gmail.com</p>
        </div>
        <div class="jumbotron">
            <h1 class="display-3">Variedades Magicolor, F.P</h1>
            <p class="lead">Ubicada en Maracay- Aragua, calle Los Jabillos sector 6, al lado de La Panaderia Miss Aragua</p>
            <!--lo de abajo es la linea de separación-->
            <hr class="my-4">
            <p class="lead">Para mas Contacto:</p>
            <p>Tlf: 0414-4932514</p>
            <p>Email: Ramonkoudsi@Gmail.com</p>
          </div>
          <div class="jumbotron">
              <h1 class="display-3">Variedades Magicolor, F.P</h1>
              <p class="lead">Ubicada en Maracay- Aragua, calle Los Jabillos sector 6, al lado de La Panaderia Miss Aragua</p>
              <!--lo de abajo es la linea de separación-->
              <hr class="my-4">
              <p class="lead">Para mas Contacto:</p>
              <p>Tlf: 0414-4932514</p>
              <p>Email: Ramonkoudsi@Gmail.com</p>
            </div>

{% endblock %}